<html lang="en" >
    <head>
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body ng-app="devxyz" ng-cloak>
        <!--
          Your HTML content here
        -->  

        <!-- Angular Material requires Angular.js Libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
        <script src="./js/app.js"></script>

        <div ng-controller="MemeCtrl" ng-cloak>

            <h1>Memes!</h1>

            <md-content layout-padding>
                <div>
                    <form name="meme">
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Title</label>
                                <input ng-model="new_meme.title" required>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Tags (CSV)</label>
                                <input ng-model="new_meme.tags">
                            </md-input-container>                            
                        </div>
                        <div layout-gt-sm="row">
                            <input type="file" file-model="myFile"/>
                        </div>
                        <md-button class="md-raised md-primary" ng-click='add_meme(new_meme);'>Add Meme</md-button>          
                    </form>
                </div>
            </md-content>
            
            <md-content layout-padding>
                <div>
                    <form name="meme">
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Search by Title</label>
                                <input ng-model="search.title">
                            </md-input-container>                         
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Search by Tag (csv)</label>
                                <input ng-model="search.tags">
                            </md-input-container>                         
                        </div>
                        <md-button class="md-raised md-primary" ng-click='filter();'>Search</md-button>                                  
                    </form>
                </div>
            </md-content>            

            <md-content>
                <md-list>
                    <md-card ng-repeat='meme in memes'>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{ meme.title}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content style='padding-top:30px;'>
                            {{meme.tags}}                            
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="update_meme(meme)" class='md-raised md-primary'>Update</md-button>                            
                            <md-button ng-click="delete_meme($event, meme.id)" class='md-raised md-warn'>Delete</md-button>
                        </md-card-actions>
                    </md-card>
                    </md-list-item>                    
                </md-list>
            </md-content>
        </div>

    </body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->